@import "tailwindcss";

/* Nunito Regular (400 normal) */
@font-face {
  font-family: gill;
  src: url("../assets/fonts/nunito/Nunito-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

/* Nunito Regular Italic */
@font-face {
  font-family: gill;
  src: url("../assets/fonts/nunito/Nunito-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

/* Nunito Regular Italic */
@font-face {
  font-family: gill;
  src: url("../assets/fonts/nunito/Nunito-Bold.ttf");
  font-weight: 600;
  font-style: bold;
}

/* Nunito ExtraBold (800 normal) */
@font-face {
  font-family: gill;
  src: url("../assets/fonts/nunito/Nunito-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

/* Nunito ExtraBold Italic */
@font-face {
  font-family: gill;
  src: url("../assets/fonts/nunito/Nunito-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}

/* Champagne & Limousines Regular */
@font-face {
  font-family: champ;
  src: url("../assets/fonts/Champagne & Limousines.ttf");
  font-weight: 400;
  font-style: normal;
}

/* Champagne & Limousines Italic */
@font-face {
  font-family: champ;
  src: url("../assets/fonts/Champagne & Limousines Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@theme {
  --font-gill: gill, sans-serif;
  --font-champ: champ, sans-serif;
}

:root {
  font-family: "Gill Sans MT", "Champagne & Limousines", Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
